@import 'src/tokens';

.root {
  padding-top: 64px;
  padding-bottom: 0px;
}

.main {
  padding: $space-ml;
  background-color: #018c7f;
  // background-color: #63e7a3;
  // background-color: #ffe020;
  border-radius: 6px;
  // box-shadow: 0px 24px 24px -20px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 20px 24px -20px rgba(1, 140, 127, 0.8);
}

.header {
  margin-bottom: $space-s;
}

.counter {
  padding-bottom: $space-sm;
  margin-bottom: $space-sm;
  border-bottom: 1px solid $dark-alpha-40;
}

.counts {
  font-family: $font-secondary;
  font-feature-settings: 'ss01' 1;
  font-feature-settings: 'calt' 1;
  color: $light-alpha-100;
}

.footer {
}

.area {
  cursor: pointer;
  width: 56px;
  height: 56px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  // background-color: $light-alpha-100;
  // border-radius: 99999px;
}

.play {
  composes: area;
  color: $tone-success-100;
}

.stop {
  composes: area;
  color: $brand-secondary-100;
  // color: #ffe020;
}

.actionIcon {
  display: block;
  width: 48px;
  height: 48px;
}

.disabled {
  color: $dark-alpha-20;
}
