@import 'src/tokens';

.root {
  padding-bottom: 0;
}

.header {
  margin-bottom: $space-s;
}

.counter {
  padding-bottom: $space-sm;
  margin-bottom: $space-sm;
  border-bottom: 1px solid $dark-alpha-40;
}

.footer {
}
