@import 'src/tokens';

.root {
  position: relative;
  &:not(:last-child) {
    margin-bottom: $space-s;
  }
}

.iconWrapper {
  cursor: pointer;
  padding: $space-sm;
  height: fit-content;
  border-radius: 3px;
  // background-color: $dark-alpha-10;
  transition: all 0.36s;
  color: $dark-alpha-60;
}

.done {
  &:hover {
    color: $brand-sea-200;
    transition: all 0.28s;
  }
}

.delete {
  &:hover {
    color: $brand-secondary-100;
    transition: all 0.28s;
  }
}

.icon {
  display: block;
  width: 24px;
  height: 24px;
}

.iterationsCount {
  width: 32px;
  height: 32px;
  display: block;
  background-color: $brand-primary-10;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: $space-sm;
}

.duration {
  // margin-right: $space-xs;
}

.playWrapper {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  border-radius: 6px;
  background-color: transparent;
  color: $dark-alpha-20;
  transition: all 0.36s;
  &:hover {
    color: $tone-success-100;
    transition: all 0.28s;
  }
}

.playIcon {
  display: block;
  width: 28px;
  height: 28px;
}
