/*
  Line Height tokens
*/

// Use for heading text and UI text
$line-compact: 1.125;

// Use for long-form text and paragraph text
$line-short: 1.35;
$line-long: 1.5;

// Use for oversized heading text
$line-reset: 1;
